/*CSS File with customised class*/

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.size-define {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.rateDown {
	 background-color: #F2DEDE;
}

.rateUp {
	 background-color: #DFF0D8;
}

.chartdiv {
  width: 100%;
  height: 300px;
}

.row{
	background-color: white;
}4F