/*CSS File with customised class*/

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.size-define {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.rateDown {
	 background-color: #F2DEDE;
}

.rateUp {
	 background-color: #DFF0D8;
}

.chartdiv {
  width: 100%;
  height: 300px;
}

.row{
	background-color: white;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}